colorama==0.4.3
numpy<=1.19.3
opencv-contrib-python
tqdm
wandb
imageio
matplotlib
protobuf>=3.12.2
pymap3d
scipy
setuptools
#torch==1.7.1
transforms3d
zarr
pyyaml
notebook
ptable
ipywidgets
numcodecs
timm==0.3.4
librosa==0.8.0
scikit-learn==0.23.2
albumentations==0.4.5
audiomentations==0.13.0
sounddevice
seaborn